.canvasTainer {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  /* background-image: url("./Assets/heaven.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}
